.footer{
    background-color: rgb(30, 30, 90);
    color: yellow;
    position: fixed;
    bottom: 0;
    font-size:1.5em ;
    font-weight: bold;
    text-align: center;
    width: 100%;
   
    padding: 10px;
}

.item{
    margin:50px
}

@media screen and (max-width: 768px) {
    .footer {
      font-size: 1em; 
    }
  
    .item {
      margin: 10px; 
    }
  }