.todoform{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgb(0,0,0,0.1);
}
.modernInput{
    width: 100%;
    border: none;
    display: block;
    color: black;
    font-size: 16px;
}

.modernInput:focus{
    outline: none;
}

.modernButton{
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #8dc43e;
    padding: 6px 10px;
    color: white;
    cursor: pointer;
}
.inputContainer{
    display: flex;
}

.validation{
    color: red;
    font-size: x-small;
}


@media screen and (max-width: 768px) {
    .todoform {
      padding: 10px; 
      width: 400px;
    }
  
    .modernButton {
      width: 30%; 
    }
  }

  @media screen and (max-width: 445px) {
    .todoform {
      padding: 10px; 
      width: 300px;
    }
  
    .modernButton {
      width: 30%; 
    }
  }