.list{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;

}


@media screen and (max-width: 768px) {
    .list {
      padding: 15px;
      width: 400px;
      margin-top: 30px; 
    }
  }

  @media screen and (max-width: 445px) {
    .list {
      padding: 15px;
      width: 300px;
      margin-top: 30px; 
    }
  }